---
export const prerender = true
import { type CollectionEntry, getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import Container from "@components/Container.astro"
import FormattedDate from "@components/FormattedDate.astro"
import { readingTime, gitDate } from "@lib/utils"
import BackToPrev from "@components/BackToPrev.astro"

export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<"blog">

const post = Astro.props
const { Content } = await post.render()
const lastUpdated = gitDate(`blog/${post.id}`)
---

<PageLayout title={post.data.title} description={post.data.description}>
  <Container>
    <div class="animate">
      <BackToPrev href="/blog"> Back to blog </BackToPrev>
    </div>
    <div class="my-10 space-y-1">
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={post.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(post.body)}
        </div>
        {
          lastUpdated && (
            <>
              &bull;
              <div class="font-base text-sm italic opacity-75">
                Last updated: <FormattedDate date={lastUpdated} />
              </div>
            </>
          )
        }
      </div>
      <div class="animate text-2xl font-semibold text-black dark:text-white">
        {post.data.title}
      </div>
    </div>
    <article class="animate">
      <Content />
    </article>
    <div
      class="animate mt-24 border-t border-black/10 pt-10 dark:border-white/10"
    >
      <p class="text-sm opacity-75">
        This content is licensed under
        <a
          href="https://creativecommons.org/licenses/by/4.0/"
          target="_blank"
          class="underline decoration-cyan-400/50 underline-offset-4 transition-colors hover:text-cyan-400"
        >
          CC BY 4.0
        </a>.
        <span class="mx-1 opacity-50">|</span>
        <a
          href={`https://github.com/aadnanmt/root.nanoolabs.dev/edit/main/src/content/blog/${post.id}`}
          target="_blank"
          class="underline decoration-cyan-400/50 underline-offset-4 transition-colors hover:text-cyan-400"
        >
          Edit this page
        </a>
      </p>
    </div>
  </Container>
</PageLayout>
