---
import PageLayout from "@layouts/PageLayout.astro"
import Container from "@components/Container.astro"
import BackToPrev from "@components/BackToPrev.astro"
import { IconFocus } from "@lib/iconSystem"

const MYFOCUS = [
  {
    title: "System & devOps",
    percentage: 39,
    description:
      "Deep dive filesystem, mechanism symlink, config bootloader, permission, exploring rootless Podman, other Git feature, and Bash fundamentals.",
  },
  {
    title: "Backend engineering",
    percentage: 21,
    description:
      "Implementing Pnpm Workspace and Hono. Exploring Middleware and Router on Hono",
  },
  {
    title: "Frontend & UI",
    percentage: 10,
    description:
      "Optimize SEO and performance. Learn and manage clean Tailwind CSS and mastering Astro Middleware",
  },
  {
    title: "Testing & Maintainace",
    percentage: 19,
    description:
      "Analyzing Hyprland and using Nix Shell on my Distro. Reconfigure Termux Properties for efficient workflow",
  },
]

function PacmanBar(percentage: number) {
  const totalWidth = 20
  const progress = Math.round((percentage / 100) * totalWidth)
  const hash = "█".repeat(progress)
  const dash = "░".repeat(totalWidth - progress)
  return `[${hash}${dash}] ${percentage}%`
}
---

<PageLayout
  title="Focus"
  description="Current focus and project progress, Arch Linux style."
>
  <Container>
    <div class="space-y-10">
      <BackToPrev href="/explore"> Back to explore </BackToPrev>

      <div
        class="animate flex items-center gap-2 font-semibold text-black dark:text-white"
      >
        <div class="size-5 fill-current">
          <Fragment set:html={IconFocus} />
        </div>
        Focus
      </div>

      <p class="animate">
        This page shows what I'm currently working or learning on and the
        progress of each task, sync anytime.
      </p>

      <div class="animate space-y-8">
        {
          MYFOCUS.map((item) => (
            <section class="space-y-4">
              <div class="flex items-center justify-between">
                <h2 class="font-semibold text-black dark:text-white">
                  {item.title}
                </h2>
              </div>
              <div class="whitespace-pre font-mono text-sm text-cyan-500 sm:text-base">
                {PacmanBar(item.percentage)}
              </div>
              <p class="text-sm opacity-70">{item.description}</p>
            </section>
          ))
        }
      </div>

      <div
        class="animate mt-12 border-t border-black/10 pt-8 text-xs italic opacity-50 dark:border-white/10"
      >
        Last synced from my brain: {new Date().toLocaleDateString("en-GB")}
        <!-- uk -->
      </div>
    </div>
  </Container>
</PageLayout>
