---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import Container from "@components/Container.astro"
import { dateRange, gitDate } from "@lib/utils"
import { WORK } from "@consts"
import { IconWork } from "@lib/iconSystem"
import BackToPrev from "@components/BackToPrev.astro"
import FormattedDate from "@components/FormattedDate.astro"

const collection = (await getCollection("work")).sort(
  (a, b) =>
    new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf(),
)

const work = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render()
    const lastUpdated = gitDate(`work/${item.id}`)
    return { ...item, Content, lastUpdated }
  }),
)
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <BackToPrev href="/"> Back to home </BackToPrev>
      <div
        class="animate flex items-center gap-2 font-semibold text-black dark:text-white"
      >
        <div class="size-5 fill-current">
          <Fragment set:html={IconWork} />
        </div>
        Works
      </div>
      <ul class="flex flex-col space-y-4">
        {
          work.map((entry) => (
            <li class="animate">
              <div class="flex items-center gap-2 text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                {entry.lastUpdated && (
                  <>
                    &bull;
                    <span class="italic text-xs">
                      Last edited: <FormattedDate date={entry.lastUpdated} />
                    </span>
                  </>
                )}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">{entry.data.role}</div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
